@import "./base.css";

#app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}

@media (max-width: 768px) {
  #app {
    display: flex;
    flex-direction: column;
    font-size: small;
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
